<!-- top navigation -->
<div class="">
  <div class="nav_menu" style="margin: 0;">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/images/JimID-icon_100x100.png" alt="">{{login_name}}
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i>登 出</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="flash-message">
      <div class="ajaxstatus" [ngClass]="{'success': gs.topFlashMessageType == 'success', 'error': gs.topFlashMessageType == 'error', 'loading': gs.topFlashMessageType == 'loading'}" *ngIf="gs.timer > 0 && gs.topFlashMessage.length > 0">
        <em>{{ gs.topFlashMessage }}</em>
      </div>
    </div>
  </div>
</div>
<!-- /top navigation -->
