<body class="login">
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>登陆 JimID 系统</h1>
          <div>
            <input type="text" class="form-control" name="login_name" [(ngModel)]="loginUser.login_name" placeholder="用户名" required="" />
          </div>
          <div>
            <input type="password" class="form-control" name="password" [(ngModel)]="loginUser.password" placeholder="密码" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" style="width: 100%;"
               (click)="login()">登 录</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div>
              <p>
                <img src="../../assets/images/JimID-Logo_160x73.jpg" width="60" height="27.3">
              </p>
              <p>©2017 All Rights Reserved. JimID!</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
</body>
