<div class="modal fade" id="delete_user_modal" style="margin-top: 100px; display: none;" tabindex="-1" role="dialog" aria-labelledby="delete_user_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="x_panel">
        <div class="x_title">
          <h2>删除用户</h2>
          <ul class="nav navbar-right panel_toolbox" style="min-width: 10px;">
            <li data-dismiss="modal"><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form #deleteUserForm="ngForm" class="form-horizontal form-label-left" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">用户ID
                <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="id" [(ngModel)]="user.id" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">用户名
                <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="form-control" placeholder="用户名"
                       name="login_name" [(ngModel)]="user.login_name" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">绑定手机</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="tel" class="form-control" name="mobile_phone" placeholder="手机号码"
                       [(ngModel)]="user.mobile_phone" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">绑定邮箱</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="email" class="form-control" placeholder="E-Mail" name="email"
                       [(ngModel)]="user.email" disabled>
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-danger">删除</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

