/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}

.hint-board {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
