<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>应用列表</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <div class="col-sm-6">
              <form class="navbar-form">
                <button type="button" class="btn btn-success btn-sm" (click)="create_app_key.show();" style="margin: 0px;">
                  创建应用
                </button>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table id="datatable" class="table table-striped jambo_table bulk_action">
              <thead>
              <tr class="headings">
                <th class="column-title">应用名称</th>
                <th class="column-title">AppKey-ID</th>
                <th class="column-title">AppKey-Secret</th>
                <th class="column-title">创建时间</th>
                <th class="column-title">应用入口</th>
                <th class="column-title">备注</th>
                <th class="column-title no-link last"><span class="nobr">操作</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let appKey of appKeys; let isLast = last; let isOdd = odd; let isEven = even;" [ngClass]="{'even': isEven, 'odd': isOdd}">
                <td class="">{{appKey.name}}</td>
                <td class="">{{appKey.id}}</td>
                <td class="">{{appKey.secret}}</td>
                <td class="">{{appKey.create_time / 1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td class="">{{appKey.home_page}}</td>
                <td class="">{{appKey.remark}}</td>
                <td class="last">
                  <div class="dropdown inline-block">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                      更多
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="">
                        <a href="javascript:;" (click)="edit_app_key.show(appKey)">
                          <span>编辑</span>
                        </a>
                      </li>
                      <li class="">
                        <a href="javascript:;" (click)="delete_app_key.show(appKey)">
                          <span>删除</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-app-key #create_app_key (completed)="getAppKeys();"></app-create-app-key>
<app-edit-app-key #edit_app_key (completed)="getAppKeys();"></app-edit-app-key>
<app-delete-app-key #delete_app_key (completed)="getAppKeys();"></app-delete-app-key>
